div[id^="popout_"]:has(> div > header [role="img"][aria-label^="nico.6563"]) {
  border: 2px solid rgba(255, 0, 0, 0);
}

div[id^="popout_"]:has(> div > div[role="img"][aria-label^="nico.6563"]) .banner__68edb {
  background-image: url("https://relkou.github.io/vencord-world/img/temp/img10000001.jpg") !important;
  background-size: 100% 100% !important; 
  background-position: center !important;
  background-repeat: no-repeat !important;
}
  
/* Modal del perfil del usuario nico.6563: solo se activa si el header contiene el avatar del usuario */
div.focusLock__49fc1:has(header [role="img"][aria-label^="nico.6563"]) .banner__68edb {
  background-image: url("https://relkou.github.io/vencord-world/img/temp/img10000001.jpg") !important;
  background-size: 100% 100% !important; 
  background-position: center !important;
  background-repeat: no-repeat !important;
}


div.focusLock__49fc1:has(header [role="img"][aria-label^="nico.6563"]) .inner_c0bea0.fullSize_c0bea0 {
  position: relative; /* Necesario para que el ::before se posicione correctamente */
  background-image: url("https://i.pinimg.com/originals/f2/74/6a/f2746ae177a5f4bcb59cf08c8d164b13.gif") !important;
  background-size: 100% auto; /* La imagen se estira a lo ancho */
  background-position: bottom center;
  background-repeat: no-repeat;
}


/* —————— nico.6563 —————— */
div.member_c8ffbb:has(.wrapper__44b0c[aria-label^="nico.6563"]) {
  background-image: url("https://relkou.github.io/vencord-world/img/temp/img10000001.jpg") !important;
  background-size: cover;
  background-position: center;
  color: rgb(224, 0, 56);
}