/* Popup del usuario sizelupb */
div[id^="popout_"]:has(> div > header [role="img"][aria-label="sizelupb"]) {
  border: 2px solid rgba(255, 0, 0, 0);
}

div[id^="popout_"]:has(> div > div[aria-label="sizelupb"]) .banner__68edb {
  background-image: url("https://i.redd.it/3nw9slkjeu7e1.png")!important;
  background-size: 100% 100% !important; 
  background-position: center !important;
  background-repeat: no-repeat !important;
}

/* Modal del perfil del usuario sizelupb */
div.focusLock__49fc1:has(header [role="img"][aria-label^="sizelupb"]) .banner__68edb {
  background-image: url("https://i.redd.it/3nw9slkjeu7e1.png") !important;
  background-size: 100% 100% !important; 
  background-position: center !important;
  background-repeat: no-repeat !important;
}

div.focusLock__49fc1:has(header [role="img"][aria-label^="sizelupb"]) .inner_c0bea0.fullSize_c0bea0 {
  position: relative; /* Necesario para que el ::before se posicione correctamente */
  background-image: url("https://media2.giphy.com/media/eJoZAwRN9OI5QjthIE/200w.gif?cid=6c09b952fz6xr9xfyy538smcjrst9jk1j1k2fo4x5baxri72&ep=v1_gifs_search&rid=200w.gif&ct=g") !important;
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;

}

/* —————— sizelupb —————— */
div.member_c8ffbb:has(
  .wrapper__44b0c[aria-label^="sizelupb"]
) {
  background-image: url("https://relkou.github.io/vencord-world/img/temp/sizelu.png") !important;
  background-size: cover;
  background-position: center;
  color: rgb(16, 235, 235);
}