@import url('https://relkou.github.io/vencord-world/css/users/nico.6563.css');
@import url('https://relkou.github.io/vencord-world/css/users/relkou.css');
@import url('https://relkou.github.io/vencord-world/css/users/novagv.css');
@import url('https://relkou.github.io/vencord-world/css/users/sizeluu.css');
@import url('https://relkou.github.io/vencord-world/css/users/ferm11n.css');
@import url('https://relkou.github.io/vencord-world/css/users/jacky._.4577.css');




@import url('https://relkou.github.io/vencord-world/css/servers/world.css');
@import url('https://relkou.github.io/vencord-world/css/servers/MeninasduTartarox.css');
@import url('https://relkou.github.io/vencord-world/css/servers/SimplyCode.css');



.content_d80634 {
    display: flex;
    border-radius: 11px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: rgba(43, 56, 134, 0.514);
}



/* color de los nombres de los canales */
.modeSelected__2ea32 .name__2ea32, .modeSelected__2ea32:hover .name__2ea32, .modeConnected__2ea32 .name__2ea32, .modeConnected__2ea32:hover .name__2ea32, .modeUnreadImportant__2ea32 .name__2ea32, .modeUnreadImportant__2ea32:hover .name__2ea32 {
    color: #12ff32;
}

.modeSelected_d8bfb3 .link_d8bfb3, .modeSelected_d8bfb3:hover .link_d8bfb3 {
    background: #4c1986;
}